<!-- spacing of the following includes is important -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
#{stylesheet 'main.css' /}
#{script 'jquery-1.8.2.js' /}



#{script 'moment.js' /}
#{stylesheet 'forms.css' /}
#{stylesheet 'jquery-ui/jquery-ui-1.9.1.custom.css' /}
#{script 'jquery-ui-1.9.1.custom.js' /}


<!-- Header start -->
<div class="standardheader wide">
    <h1>Field Trip Request Form</h1>
</div>
<!-- Header end -->


<div class="fullwidth">
    <div class="contentcontainer">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="box">
                            <p>Complete and submit this form to request a field trip using TriMet buses or MAX light rail.</p>
                            <ol>
                                <li>Requests must be received and paid for (if applicable) at least two weeks in advance.</li>
                                <li>Field Trips may only be scheduled on weekdays during off-peak hours (9 a.m. – 3 p.m. and after 6 p.m.)</li>
                                <li>Your group may use regular TriMet tickets or a discounted group fare (Class Pass).</li>
                                <ul>
                                    <li>A Class Pass allows your field trip to travel on TriMet for $1 per person for the duration of the field trip.</li>
                                    <ul>
                                        <li>Groups of 15 or more people (including students (7-18 or in high school), teachers, and chaperones) are eligible.</li>
                                        <li>Your Class Pass fare will be loaded onto a Hop card, which you'll tap when boarding the bus or entering a light rail platform. You can either request a new one or we can reload an existing Class Pass Hop card.</li>
                                    </ul>
                                </ul>
                                <li>Due to vehicle capacities, groups larger than 40 people per bus and 80 per MAX train will be split (and issued separate Class Passes if applicable). Smaller groups may also be split to manage capacities.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="box">
                            <h4>Questions?</h4>
                            <p>If you have any questions or need to modify your trip, please contact us at <a href="mailto:fieldtrips@trimet.org">fieldtrips@trimet.org</a> or give us a call at 503-962-2424, option 4.</p>
                        </div>
                    </div>
                </div>

                <p>&nbsp;</p>

                <form action="newRequest" id="requestForm" method="post" class="fieldtrip">

                    <h2>Contact Information</h2>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="teacherName">Teacher Name*</label>
                                <input id="teacherName" name="req.teacherName" />
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="schoolName">School Name*</label>
                                <input id="schoolName" name="req.schoolName" />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <fieldset>
                                <label for="address">Address</label>
                                <input name="req.address" id="address" class="address" />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <fieldset>
                            <div class="col-xs-5">
                                <label for="city">City</label>
                                <input name="req.city" id="city" class="city" />
                            </div>
                            <div class="col-xs-4">
                                <label for="state">State</label>
                                <input name="req.state" id="state" class="state" />
                            </div>
                            <div class="col-xs-3">
                                <label for="zip">Zip</label>
                                <input name="req.zip" id="zip" class="zip" />
                            </div>
                        </fieldset>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="phoneNumber">Phone</label>
                                <input name="req.phoneNumber" id="phoneNumber" />
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="faxNumber">Fax</label>
                                <input name="req.faxNumber" id="faxNumber" />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="emailAddress">Email Address*</label>
                                <input id="emailAddress" name="req.emailAddress" />
                            </fieldset>
                        </div>
                        <div class="col-xs-3 col-md-2">
                            <fieldset>
                                <label for="grade">Grade</label>
                                <input name="req.grade" id="grade" class="grade" />
                            </fieldset>
                        </div>
                    </div>

                    <p>&nbsp;</p>

                    <h2>Field Trip Information</h2>

                    <div class="row">
                        <div class="col-xs-12 col-ms-6 col-sm-6 col-md-3">
                            <fieldset class="numberbox">
                                <label for="numPaidStudents"># of Students 7 and Over *</label>
                                <input id="numPaidStudents" onChange="ridersChanged()" />
                                <input type="hidden" id="numStudents" name="req.numStudents" />
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-ms-6 col-sm-6 col-md-3">
                            <fieldset class="numberbox">
                                <label for="numFreeStudents"># of Students 6 and Under*</label>
                                <input id="numFreeStudents" onChange="ridersChanged()" name="req.numFreeStudents" />
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-ms-12 col-sm-6 col-md-3">
                            <fieldset class="numberbox">
                                <label for="numChaperones"># of Chaperones</label>
                                <input name="req.numChaperones" id="numChaperones" onChange="ridersChanged()" />
                                <p class="small">Including teachers</p>
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-ms-12 col-sm-6 col-md-3">
                            <fieldset class="numberbox">
                                <label for="numChaperones">Total # of Riders</label>
                                <input name="req.totalRiders" id="totalRiders" readonly disabled />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="startLocation">Starting Point (Address)*</label>
                                <input id="startLocation" name="req.startLocation" />
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="endLocation">Destination (Address)*</label>
                                <input id="endLocation" name="req.endLocation" />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <fieldset>
                                <label for="travelDate">Date of Trip*</label>
                                <input id="travelDate" name="req.travelDate" />
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <h3>Getting There</h3>
                            <fieldset class="times">
                                <label for="arriveDestinationTime-hour">Time your group needs to be at your destination*</label>
                                <input id="arriveDestinationTime-hour" /><span>:</span><input id="arriveDestinationTime-minute" />
                                <select id="arriveDestinationTime-ampm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </fieldset>
                            <input type="hidden" id="arriveDestinationTime" name="req.arriveDestinationTime" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <h3>Getting Back</h3>
                            <fieldset class="times">
                                <label for="leaveDestinationTime-hour">Time your group will be ready to leave your destination*</label>
                                <input id="leaveDestinationTime-hour" /><span>:</span><input id="leaveDestinationTime-minute" />
                                <select id="leaveDestinationTime-ampm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </fieldset>
                            <input type="hidden" id="leaveDestinationTime" name="req.leaveDestinationTime" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <h3>&nbsp;</h3>
                            <fieldset class="times">
                                <label for="arriveSchoolTime-hour">Time your group needs to be back at school*</label>
                                <input id="arriveSchoolTime-hour" /><span>:</span><input id="arriveSchoolTime-minute" />
                                <select id="arriveSchoolTime-ampm">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </fieldset>
                            <input type="hidden" id="arriveSchoolTime" name="req.arriveSchoolTime" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <fieldset>
                                <label for="submitterNotes">Notes</label>
                                <textarea name="req.submitterNotes" rows="4" id="submitterNotes"></textarea>
                            </fieldset>
                        </div>
                    </div>

                    <p>&nbsp;</p>

                    <h2>Payment Information</h2>

                    <div class="box">
                        <p>
                            As noted above, you may use your own tickets or use a Class Pass. If you elect to use a Class Pass, the total price will be $1 per person<span id="totalCost"></span>. 
                            You can pay by check, money order, or credit card; you will not be called for payment and <b><i>trips cannot be accommodated if payment is not received at least 
                            two (2) weeks in advance</b></i>. If you plan to pay with a credit card, please give us a call at 503-962-2383 or fax us at 503-962-2482; <i>do not email credit card information 
                            or enter it on this form</i>.
                        </p>
                        <p>
                            Please indicate what type of fare you will be using:
                        </p>

                        <fieldset>
                            <input type="hidden" id="ticketType" name="req.ticketType" />
                            <input type="hidden" id="paymentPreference" name="req.paymentPreference" />
                            <input type="hidden" id="classpassId" name="req.classpassId" />
                            <label for="own_tickets">
                                <h4><input type="radio" name="paymentType" value="own_tickets" id="own_tickets" onclick="paymentTypeChanged()" checked /> My own tickets</h4>
                            </label>
                            <label for="hop">
                                <h4><input type="radio" name="paymentType" value="hop" id="hop" onclick="paymentTypeChanged()" /> Class Pass Hop Card</h4>
                            </label>

                            <div id="classpassDetails" style="margin-left:40px; display:none">
                                <label for="hop_new">
                                    <input type="radio" name="hopType" value="hop_new" id="hop_new" onclick="hopTypeChanged()" /> Order New
                                </label>
                                <label for="hop_reload">
                                    <input type="radio" name="hopType" value="hop_reload" id="hop_reload" onclick="hopTypeChanged()" /> Reload Existing
                                </label>
                                <div id="classpassIdBlock" style="display:none; margin-left: 20px;">
                                    <label for="classpassIdInput">Please enter card #:&nbsp;*&nbsp;</label>
                                    <input id="classpassIdInput" />
                                </div>

                                <h3>Class Pass Payment Preference:&nbsp;*&nbsp;</h3>
                                <label for="phone_cc">
                                    <input type="radio" name="hopPayPref" value="phone_cc" id="phone_cc" /> Credit Card (I will call and pay over the phone)
                                </label>
                                <label for="fax_cc">
                                    <input type="radio" name="hopPayPref" value="fax_cc" id="fax_cc" /> Credit Card (I will fax my card information)
                                </label>
                                <label for="mail_check">
                                    <input type="radio" name="hopPayPref" value="mail_check" id="mail_check" /> I will mail a check or money order
                                </label>
                                <label for="requireInvoice" style="margin-top:1em;">
                                    <input type="checkbox" id="requireInvoice" name="req.requireInvoice" onclick="$('.invoiceDiv').removeClass('hidden');" /> I need an invoice before paying <div class="invoiceDiv hidden"><b>After submitting your request, please click the printable invoice link to view and print invoice.</b></div>
                                </label>
                            </div>
                        </fieldset>

                    </div> <!-- "box" -->

                    <p>&nbsp;</p>

                    <h3 class="hcenter">Please verify that all information is correctly entered prior to submitting.</h3>
                    <div style="width:300px; display: block; margin: 0 auto;">
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha" data-sitekey="${play.configuration['recaptcha.public_key']}"></div>
                    </div>
                </form>
                <p>&nbsp;</p>
                <p class="hcenter"><button class="submit" id="submitLink">Submit Request</button></p>
            </div>
        </div> <!-- end row -->
    </div>
</div>


<!-- initialization of interactive fields -->
<script type="text/javascript" language="javascript">
var advanceDays = 14

$(document).ready(function() {
    $("#travelDate").datepicker({ minDate: '+' + advanceDays });
    $("#submitLink").click(function() {
        submitClicked();
    });
});

function submitClicked() {

    // check for required fields
    if(!checkRequired('teacherName', 'Teacher Name')) return;
    if(!checkRequired('schoolName', 'School Name')) return;
    if(!checkRequired('numPaidStudents', 'Number of Students 7 and Over')) return;
    if(!checkRequired('numFreeStudents', 'Number of Students 6 and Under')) return;
    if(!checkRequired('startLocation', 'Start Location Address')) return;
    if(!checkRequired('endLocation', 'End Location Address')) return;

    // process date
    var travelDate = $("#travelDate").val()
    if (
      !travelDate ||
      travelDate === '' ||
      moment(travelDate, 'MM/DD/YYYY').diff(moment(), 'days') < (advanceDays - 1)
    ) {
      alert('Travel date must be at least ' + advanceDays + ' days in the future')
      return
    }

    // process time inputs
    var arriveDestinationTime = constructTime("arriveDestinationTime");
    if(arriveDestinationTime == null) {
        alert("Arrive at destination time is not valid");
        return;
    }
    $("#arriveDestinationTime").val(arriveDestinationTime);

    var leaveDestinationTime = constructTime("leaveDestinationTime");
    if(leaveDestinationTime == null) {
        alert("Leave destination time is not valid");
        return;
    }
    $("#leaveDestinationTime").val(leaveDestinationTime);

    var arriveSchoolTime = constructTime("arriveSchoolTime");
    if(arriveSchoolTime == null) {
        alert("Arrive back at school time is not valid");
        return;
    }
    $("#arriveSchoolTime").val(arriveSchoolTime);

    // process payment inputs
    var paymentType = $("input[name='paymentType']:checked").val();
    var hopType = $("input[name='hopType']:checked").val();
    var ticketType = paymentType === "own_tickets" ? paymentType : hopType;
    var hopPayPref = $("input[name='hopPayPref']:checked").val()
    var requireInvoice = $("#requireInvoice").is(":checked");
    var classpassId = $("#classpassIdInput").val();
    if (classpassId) classpassId = classpassId.trim();

    // confirm valid payment inputs
    if(ticketType !== 'own_tickets') {
        if(!hopType) {
          alert("Please tell us if you need to order a new Hop Card, or if want to enter your existing Hop Card 16-digit number");
          return
        }
        else if(!hopPayPref) {
          alert("Please specify a payment preference if paying via Hop Card");
          return
        }
    }
    if(requireInvoice && !hopPayPref) {
      alert("Please specify a payment preference if invoice is required");
      return
    }
    if(hopType === 'hop_reload' && (classpassId.length !== 16 || isNaN(classpassId))) {
      alert("Please enter a valid 16-digit Hop Card number");
      return
    }

    // set group size by totaling free and paid students
    var numPaidStudents = parseInt($("#numPaidStudents").val());
    numPaidStudents = isNaN(numPaidStudents) ? 0 : numPaidStudents
    var numFreeStudents = parseInt($("#numFreeStudents").val());
    numFreeStudents = isNaN(numFreeStudents) ? 0 : numFreeStudents
    $("#numStudents").val(numPaidStudents + numFreeStudents);

    // set payment-related hidden field values
    $("#ticketType").val(ticketType);
    if (ticketType !== 'own_tickets') {
        $("#paymentPreference").val(hopPayPref);
    }
    if (hopType === 'hop_reload') {
        $("#classpassId").val(classpassId);
    }

    // submit the form
    document.forms["requestForm"].submit();
}

function checkRequired(id, name) {
    if($('#'+id).val().length > 0) return true;
    alert(name + " is a required field");
    return false;
}

function constructTime(prefix) {
    var hourStr = $("#" + prefix + "-hour").val();
    if($.isNumeric(hourStr)) {
        var hour = parseInt(hourStr);
        if(hour <= 0 || hour > 12) return null;
    }
    else {
        return null;
    }

    var minuteStr = $("#" + prefix + "-minute").val();
    if($.isNumeric(minuteStr)) {
        var minute = parseInt(minuteStr);
        if(minute < 0 || minute > 59) return null;
    }
    else {
        return null;
    }

    var ampmStr = $("#" + prefix + "-ampm").val();

    return (hour < 10 ? "0" : "") + hour + ":" + (minute < 10 ? "0" : "") + minute + ampmStr;
}

function ridersChanged() {
    var numPaidStudents = parseInt($("#numPaidStudents").val());
    numPaidStudents = isNaN(numPaidStudents) ? 0 : numPaidStudents

    var numFreeStudents = parseInt($("#numFreeStudents").val());
    numFreeStudents = isNaN(numFreeStudents) ? 0 : numFreeStudents

    var numChaperones = parseInt($("#numChaperones").val());
    numChaperones = isNaN(numChaperones) ? 0 : numChaperones

    var totalRiders = numPaidStudents + numFreeStudents + numChaperones
    console.log(totalRiders)
    $("#totalRiders").val(totalRiders)
    $("#totalCost").html(" <b>or $" + (numPaidStudents + numChaperones) + ".00 for this trip</b>")
}

function paymentTypeChanged() {
  var paymentType = $("input[name='paymentType']:checked").val();
  if (paymentType === 'own_tickets') $("#classpassDetails").slideUp()
  if (paymentType === 'hop') $("#classpassDetails").slideDown()
}

function hopTypeChanged() {
  var hopType = $("input[name='hopType']:checked").val();
  if (hopType === 'hop_new') $("#classpassIdBlock").hide()
  if (hopType === 'hop_reload') $("#classpassIdBlock").show()
}

</script>
