#{stylesheet 'main.css' /}


<div class="standardheader">
<!-- InstanceBeginEditable name="Header" -->
    <!-- InstanceEndEditable -->
</div><!-- .standardheader -->

<div class="fullwidth standardcontent">
    <div class="contentcontainer">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 standardcontent-padding">
            <!-- InstanceBeginEditable name="Content" -->

                #{if errCode == 'ok' }
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <h1 class="hcenter">Thank you!<br />Your request has been submitted.</h1>

                <p>&nbsp;</p>

                <div class="box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p><b>Questions?</b><br />Email us at <a href="mailto:fieldtrips@trimet.org">fieldtrips@trimet.org</a> or call 503-962-2424, option 4.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                             <p><b>TriMet Field Trip Program</b><br/>
                                701 SW 6th Ave.<br/>
                                Portland, OR 97204<br/>
                                FAX: 503-962-2482</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="http://fieldtrip.trimet.org">Fill out a <b>new</b> Field Trip Request.</a>
                        </div>
                    </div>
                </div>
                #{/if}

                #{elseif errCode == 'err_recaptcha' }
                    <div class="box important hcenter">
                        <h3>Invalid ReCaptcha Response</h3>
                        <p>The user verification text you entered was not valid.<br /><a href="javascript:history.back()">Please try again</a></p>
                    </div>
                #{/elseif}

                #{elseif errCode == 'err_teachername' }
                    <div class="box important hcenter">
                        <h3>Oops!</h3>
                        <p>The teacher name you entered was not valid.<br /><a href="javascript:history.back()">Go back and update the information</a></p>
                    </div>
                #{/elseif}

                #{elseif errCode == 'err_traveldate' }
                    <div class="box important hcenter">
                        <h3>Oops!</h3>
                        <p>The travel date you entered was not valid.<br /><a href="javascript:history.back()">Go back and update the information</a></p>
                    </div>
                #{/elseif}

                #{else}
                    <div class="box important hcenter">
                        <p>Error submitting request (errCode = ${errCode})</p>
                    </div>
                #{/else}
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .contentcontainer -->
</div><!-- .fullwidth -->
<div class="share-wrap"></div>

