#{stylesheet 'main.css' /}

<div class="mainContent">

<h2>Receipt for Field Trip Request ${req.id}:</h2>
<b>Teacher Name</b>: ${req.teacherName}<br>
<b>School</b>: ${req.schoolName}<br>
<b>Address</b>: ${req.address}, ${req.city}, ${req.state} ${req.zip}<br>&nbsp;<br>

<b>Travel Date</b>: ${(req.travelDate).format("MMMM dd, yyyy")}<br>
<b>Destination</b>: ${req.endLocation}<br>&nbsp;<br>

<b>Payment Information</b>:

<ul style="margin-top: 2px;">
#{if req.ticketType == "own_tickets"}
  <li><i>Ticket Type</i>: Use Own Tickets</li>
#{/if}
#{else}
  #{if req.ticketType == "hop_new"}
    <li><i>Ticket Type</i>: Purchase New Hop Card</li>
  #{/if}
  #{elseif req.ticketType == "hop_reload"}
    <li><i>Ticket Type</i>: Reload Existing Hop Card</li>

    #{if req.classpassId}
      <li><i>Class Pass Hop Card #</i>: ${req.classpassId}</li>
    #{/if}
  #{/elseif}

  #{if req.paymentPreference == "phone_cc" || req.paymentPreference == "fax_cc"}
    <li><i>Payment Preference</i>: Credit Card</li>
    <li><i>Credit Card Type</i>:
      #{if req.ccType}
        ${req.ccType}
      #{/if}
      #{else}
        (Not specified)
      #{/else}
    </li>

    <li><i>Name on Credit Card</i>:
      #{if req.ccName}
        ${req.ccName}
      #{/if}
      #{else}
        (Not specified)
      #{/else}
    </li>

    <li><i>Credit Card Last Four Digits</i>:
      #{if req.ccLastFour}
        ${req.ccLastFour}
      #{/if}
      #{else}
        (Not specified)
      #{/else}
    </li>
  #{/if}
  #{elseif req.paymentPreference == "mail_check"}
    <li><i>Payment Preference</i>: Check/Money Order</li>

    <li><i>Check / Money Order Number</i>:
      #{if req.checkNumber}
        ${req.checkNumber}
      #{/if}
      #{else}
        (Not specified)
      #{/else}
    </li>
  #{/elseif}
#{/else}

</ul>

<table border="0" cellpadding="6px" cellspacing="0" style="width: 100%;">
<tr style="background: #ccc;">
  <th style="width:60%; text-align: left;"></th>
  <th style="width:10%; text-align: left;">Quantity</th>
  <th style="width:15%; text-align: left;">Unit Price</th>
  <th style="width:15%; text-align: left;">Total</th>
</tr>

#{if req.numStudents > 0 && req.numFreeStudents > 0}
<tr>
  <td>Youth Round Trip Passes (7 and Over)</td>
  <td>${req.numStudents - req.numFreeStudents}</td>
  <td>
    #{if req.classpassId}
      $1.00
    #{/if}
    #{else}
      $3.30
    #{/else}
  </td>
  <td>
    #{if req.classpassId}
      $${(req.numStudents - req.numFreeStudents).format("0.00")}
    #{/if}
    #{else}
      $${((req.numStudents - req.numFreeStudents)*3.3).format("0.00")}
    #{/else}
  </td>
</tr>
#{/if}
#{else}
  #{if req.numStudents > 0}
  <tr>
    <td>Youth Round Trip Passes (7 and Over)</td>
    <td>${req.numStudents}</td>
    <td>
      #{if req.classpassId}
        $1.00
      #{/if}
      #{else}
        $3.30
      #{/else}
    </td>
    <td>
      #{if req.classpassId}
        $${req.numStudents.format("0.00")}
      #{/if}
      #{else}
        $${(req.numStudents*3.3).format("0.00")}
      #{/else}
    </td>
  </tr>
  #{/if}
#{/else}


#{if req.numFreeStudents > 0}
<tr>
  <td>Youth 6 and Under</td>
  <td>${req.numFreeStudents}</td>
  <td>
    $0.00
  </td>
  <td>
    $0.00
  </td>
</tr>
#{/if}

#{if req.numChaperones > 0}
<tr>
  <td>Adult Round Trip Passes</td>
  <td>${req.numChaperones}</td>
  <td>
    #{if req.classpassId}
      $1.00
    #{/if}
    #{else}
      $5.00
    #{/else}
  </td>
  <td>
    #{if req.classpassId}
    $${(req.numChaperones).format("0.00")}
    #{/if}
    #{else}
      $${(req.numChaperones*5).format("0.00")}
    #{/else}
  </td>
</tr>
#{/if}

<!-- FXP 8/17/17 NOTE: removed HTML row with 'Class Pass processing fee $2.50', as well as the 2.5 added to req.classpassId in the Grand Total calculation below -->

<tr style="border: 2px solid #ccc;">
  <td style="border-top: 2px solid #ccc;"><b>Grand Total</b></td>
  <td style="border-top: 2px solid #ccc;">&nbsp;</td>
  <td style="border-top: 2px solid #ccc;">&nbsp;</td>
  <td style="border-top: 2px solid #ccc;">
    #{if req.classpassId}
      $${(req.numStudents - req.numFreeStudents + req.numChaperones).format("0.00")}
    #{/if}
    #{else}
      $${((req.numStudents - req.numFreeStudents) * 3.3 + req.numChaperones * 5).format("0.00")}
    #{/else}

  </td>
</tr>
</table>

</p>
</div>
